body {
    background: #F5F5F5;
}
.divisor {
    border: none;
    margin: 0 0 15px 0;
}
.capitalize {
    text-transform: capitalize;
}
.error {
    color: #e51c23;
}
input:focus, button:focus, select:focus, .btn:focus, .btn:active, .bloque-habitacion:focus, a:focus {
    outline: none;
}
.alert {
    z-index: 9999 !important;
}

/* HABITACIONES */
.col-xs-4 .bloque-habitacion button {
    min-height: 80px;
    margin: 18px auto 9px; 
    overflow: hidden;
}

/* FIX MODAL DIALOG */

.modal-dialog-center {
    margin-top: 38%;
}

/* SIN DATOS */
.sin-datos {
    color: #DDD;
    font-size: 1.2em;
    cursor: pointer;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
    width: 100%;
}


@media(max-width:767px) {
    .alert {
        margin: 0 !important;
        width: 100%;
        border-radius: 0;
    }
}